<header
  class="px-24 py-12 max-sm:px-5 max-sm:py-10 max-w-7xl w-full mx-auto"
>
  <a href="/" class="flex items-center gap-x-4">
    <image
      src="/heartbeat.png"
      alt="rhythm nation logo"
      class="w-16"
    />
    <p class="uppercase text-3xl text-zinc-900">blog</p>
  </a>
</header>
